<nav class="navbar navbar-expand-md navbar-dark bg-dark" aria-label="Fourth navbar example">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">Premier League</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample04">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item"><a class="nav-link active" aria-current="page" href="index.html">Home</a></li>
              <li class="nav-item"><a class="nav-link" href="tables.html">Tables</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Teams</a>
          <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="arsenal.html">Arsenal</a></li>
              <li><a class="dropdown-item" href="aston_villa.html">Aston Villa</a></li>
              <li><a class="dropdown-item" href="bournemouth.html">Bournemouth</a></li>
              <li><a class="dropdown-item" href="brentford.html">Brentford</a></li>
              <li><a class="dropdown-item" href="brighton.html">Brighton</a></li>
              <li><a class="dropdown-item" href="chelsea.html">Chelsea</a></li>
              <li><a class="dropdown-item" href="crystal_palace.html">Crystal Palace</a></li>
              <li><a class="dropdown-item" href="everton.html">Everton</a></li>
              <li><a class="dropdown-item" href="fulham.html">Fulham</a></li>
              <li><a class="dropdown-item" href="leeds.html">Leeds</a></li>
              <li><a class="dropdown-item" href="leicester.html">Leicester</a></li>
              <li><a class="dropdown-item" href="liverpool.html">Liverpool</a></li>
              <li><a class="dropdown-item" href="man_city.html">Manchester City</a></li>
              <li><a class="dropdown-item" href="man_united.html">Manchester United</a></li>
              <li><a class="dropdown-item" href="newcastle.html">Newcastle</a></li>
              <li><a class="dropdown-item" href="notts_forest.html">Nottingham Forest</a></li>
              <li><a class="dropdown-item" href="southampton.html">Southampton</a></li>
              <li><a class="dropdown-item" href="tottenham.html">Tottenham</a></li>
              <li><a class="dropdown-item" href="west_ham.html">West Ham</a></li>
              <li><a class="dropdown-item" href="wolves.html">Wolves</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>